html body
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    overflow-x: hidden;
}

::selection
{
    background-color:Transparent;
}

#divLogo
{
    color: #FFF;
    font-size: 44px;
    position: absolute;
    z-index: 1;
    left: 33px;
    top: 40px;
}

#divMainContent
{
    background-color: #FFF;
    height: 739px;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 875px;
    padding-top: 250px;
}

#divWhoWeAreContent
{
    background-color: #cccccc;
    background-image: url("../resources/images/16.jpg");
    background-repeat: no-repeat;
    height: 889px;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 1665px;
}

#divWhatWeOfferContent
{
    background-color: #FFF;
    height: 889px;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 2335px;
}

#divContactContent
{
    background-color: #191D22;
    height: 889px;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 3065px;
    box-sizing: border-box;
}

.navigateItemsNormal
{
    color:#FFF;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

.navigateItemsNormal:hover
{
    color:#8BC34A;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

.navigateItemsInMenu
{
    color:#8a959e;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

.navigateItemsInMenu:hover
{
    color:#8BC34A;
}

#divFaceContainer
{
    position: absolute;
    left: 50%;
    top: 0%;
    height: 130px;
    width: 579px;
    margin-left: -289.5px;
    margin-top: -65px;
}

.face
{
    border-radius: 15px;
    position: absolute;
}

#face1
{
    top: 636px;
    left: 22px;
}

#face3
{
    left: 150px;
}

#face4
{
    left: 299px;
}

#face5
{
    left: 448px;
}

#face1Test
{
    color: #A09DAD;
    position: absolute;
    width: 500px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    top: 654px;
    left: 125px;
}

#image1
{
    position: absolute;
    left: 50%;
    width: 834px;
    height: 407px;
    top: 43%;
    margin-left: -416px;
    margin-top: -203.5px;
    text-align: center;
}

#image2
{
    height: 500px;
    width:960px;
}

#image3
{
    height: 500px;
    width:960px;
}

#imageWhatWeOffer
{
    border-radius: 44px;
    left: 50%;
    top: 208px;
    position: absolute;

    margin-left: -500px;
}

#divQualityContainer
{
    position: absolute;
    width: 600px;
    left: 50%;
    top: 12px;
    margin-left: -300px;
    text-align: -webkit-center;
}

#divQualityHeader
{
    color: #000;
    position: absolute;
    font-size: 36px;
    font-weight: 100;
    line-height: 1.5;
    left: 33px;
}

#divQualitySubText
{
    color: #A09DAD;
    position: absolute;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    top: 68px;
}

#divMainContentHeader
{
    color: #000;
    position: absolute;
    font-size: 36px;
    font-weight: 100;
    line-height: 1.5;
    text-align: -webkit-center;
    width: 917px;
    left: -73px;
}

#divMainContentText
{
    color: #A09DAD;
    position: absolute;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    text-align: -webkit-center;
    top: 74px;
}

#divMainContentContainer
{
    position: absolute;
    top: 24%;
    left: 50%;
    height: 435px;
    width: 750px;
    margin-left: -375px;
    margin-top: -216px;

}

#divWhoWeAreHeader
{
    color: #939DA5;
    position: absolute;
    width: 837px;
    font-size: 46px;
    font-weight: 100;
    line-height: 2;
    left: 80px;
    top: 60px;
}

#divWhoWeAreContentText
{
    color: #FFF;
    position: absolute;
    width: 837px;
    font-size: 21px;
    font-weight: 100;
    line-height: 2;
    left: 80px;
    top: 230px;
}

#divContactform
{
    width: 450px;
    position: absolute;
    height: 500px;
    left: 50%;
    top: 250px;
    margin-left: -225px;
}



input
{
    background-color: transparent;
    color: #FFF;
    font-family: 'Open Sans', open-sans, sans-serif;
    border-radius: 3px;
    border: 1px solid #4E575F;
    height: 50px;
    width: 450px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    box-sizing: border-box;
    padding: 10px 22px;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 35px;

    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

#btnContactUs
{
    border-radius: 6px;
    color: #FFF;
    cursor: pointer;
    height: 50px;
    width: 450px;
    text-align: center;
    line-height: 51px;
    background-color: #8BC34A;
    font-size: 16px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

#btnContactUs:hover
{
    background-color: #689F38;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.divContactUsNavButton
{
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.divContactUsNavButton:hover
{
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

#divContactContainer
{
    position: absolute;
    width: 750px;
    height: 250px;
    left: 50%;
    margin-left: -375px;
    margin-top: -160px;
    text-align: center;
    top: 29%;
}

#divContactContentHeader
{
    color: #FFF;
    font-size: 30px;
    position: absolute;
}

#divContactContentSubHeader
{
    color: #8B959C;
    font-size: 21px;
    top: 98px;
    left: 63px;
    position: absolute;
}

.footerImages:first-child
{
    margin-right: 158px;
}

.footerImages:nth-child(7)
{
    margin-right: 158px;
}

.footerImages:nth-child(3)
{
    margin-right: 89px;
}

.footerImages:nth-child(5)
{
    margin-right: 79px;
}

.divImageContainer
{
    margin-left: -464px;
}

@media all and (max-width: 1000px) {
    #divMainContentHeader
    {
        font-size: 26px;
        top: 15px;
    }

    #divMainContentText
    {
        font-size: 17px;
        top: 69px;
    }

    #image1
    {
        left: 50%;
        width: 750px;
        height: 320px;
        top: 47%;
        margin-left: -375px;
        margin-top: -160px;
        text-align: center;
    }

    #divWhoWeAreContentText
    {
        width: 450px;
    }

    .footerTitles
    {
        display: none;
    }

    .footerImages:first-child
    {
        margin-right: 15px;
    }

    .footerImages:nth-child(7)
    {
        margin-right: 15px;
    }

    .footerImages:nth-child(3)
    {
        margin-right: 15px;
    }

    .footerImages:nth-child(5)
    {
        margin-right: 15px;
    }

    .divImageContainer
    {
        margin-left: -205px;
    }

}
@media all and (max-width: 885px) {
    #divNavigationBar
    {
        display: none;
    }
}


@media all and (max-width: 790px) {
    #face2
    {
        display: none;
    }

    #face5
    {
        display: none;
    }

    #divContactContainer
    {
        width: 460px;
        margin-left: -230px;
    }

    #divContactContentHeader
    {
        font-size: 19px;
    }

    #divContactContentSubHeader
    {
        font-size: 21px;
        left: 0;
        top: 68px;
    }

    #divQualityContainer
    {
        width: 320px;
        margin-left: -160px;
    }

    #divQualityHeader
    {
        font-size: 28px;
    }

    #divQualitySubText
    {
        font-size: 12px;
        top: 86px;
    }
}

@media all and (max-width: 560px) {
    #divWhoWeAreContentText
    {
        font-size: 19px;
        width: 340px;
    }
}

@media all and (max-width: 540px) {
    input
    {
        width: 240px;
    }

    #btnContactUs
    {
        width: 245px;
    }

    #divContactform
    {
        width: 240px;
        margin-left: -130px;
    }

    #divContactContainer
    {
        width: 300px;
        margin-left: -150px;
        top: 255px;;
    }

    #divContactContentHeader
    {
        font-size: 16px;
    }

    #divContactContentSubHeader
    {
        font-size: 19px;
    }

    #divWhoWeAreHeader
    {
        font-size: 28px;
        left: 33px;
    }

    #divWhoWeAreContentText
    {
        width: 258px;
        font-size: 19px;
        left: 33px;
        top: 169px;
    }
    #divMainContentContainer
    {
        width: 340px;
        margin-left: -170px;
    }

    #divMainContentHeader
    {
        width: 330px;
        left: 0px;
    }

    #divMainContentText
    {
        font-size: 15px;
        top: 140px;
        width: 328px;
    }

    #image1
    {
        top: 481px;
    }

    #face1Test
    {
        font-size: 10px;
        top: 652px;
        left: 125px;
        width: 192px;
    }
}

@media all and (max-width: 540px) {
    .footerImages:first-child
    {
        display: none;
    }

    .footerImages:nth-child(9)
    {
        display: none;
    }

    .divImageContainer
    {
        margin-left: -106px;
    }
}



